<h1>Snippet</h1>

<%= link_to "New Quote", new_quote_path, id: "new-form" %>

<div id="new-quote-form">
  <%= render partial: "form" %>
</div>

<div id="quotes">
  <%= render partial: "quotes" %>
</div>
